/* App.css */

/* Estilos básicos para móviles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px; /* Ancho máximo para pantallas grandes */
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.recipe-details, .recipe-list {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Botones */
button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
  .recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .recipe-list li {
    width: calc(50% - 10px); 
    margin: 5px;
  }

  h1 {
    font-size: 2.5em; 
  }
}

@media (min-width: 1024px) {
  .recipe-list li {
    width: calc(33.33% - 10px); 
  }
}
